#analysis {
    color: black;
}
.loading {
    width: 100%;
    height: 1000px;
    background-image: url("../img/loading-logo.gif");
    background-color: #ffffff;
}
#map-canvas {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
#analysis .row {
    background-color: #ffffff;
}
.form-horizontal {
    color: black;
}
body {
  color: #000000;
  background: none;
}
.starter-template {
    margin: 0;
}
