#analysis {
    color: black;
}
.loading {
    width: 100%;
    height: 1000px;
    background-image: url("../img/loading-logo.gif");
    background-color: #ffffff;
}
#map-canvas {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.row {
    background-color: #ffffff;
}